.ressources__title-box {
  display: flex;
  padding: 22rem 24rem;
  width: 100%;
  text-align: center;
  background-color: var(--background);
  height: 80vh;
  border-bottom: 2px solid var(--primary);
  justify-content: center;
  align-items: center;
}

.ressources__title {
  color: var(--white);
  font-size: 4.6rem;
  line-height: 1.5;
  transform: translateY(1.4rem);
}

/* RESSOURCES NAV */
.ressources__nav-box {
  width: 100%;
  padding: 2rem 0;
  margin-top: 1.4rem;
}

.ressources__nav {
  display: flex;
  justify-content: center;
  gap: 4.2rem;
}

.ressources__nav-item:link,
.ressources__nav-item:visited {
  text-decoration: none;
  border-radius: 100px;
  padding: 1rem 2rem;
  color: var(--background);
  background-color: var(--grey);
  font-size: 1.4rem;
  font-weight: 500;
}

.ressources__nav-item:hover,
.ressources__nav-item:active {
  color: var(--white);
  background-color: var(--primary);
  transition: all 0.15s;
}

/* RESSOURCES SECTION */

.ressources__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ressources {
  background-color: var(--white-tint);
  color: var(--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 12rem;
  padding-bottom: 7rem;
}

.ressources-odd {
  background-color: var(--white);
}

.ressources__section-titlebox {
  display: flex;
  justify-content: center;
}

.ressources__section-title {
  font-size: 3rem;
  color: var(--background);
  margin-bottom: 7rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.ressources__box {
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.ressources__item {
  width: 30rem;
}

.ressources__logo {
  height: 5rem;
  width: auto;
  display: block;
  border-radius: 3px;
  margin-bottom: 1.2rem;
}

.ressources__logo-tofix {
  width: 7.2rem;
  height: 7.2rem;
}

.ressources__logo-google {
  height: 4rem;
  width: auto;
}

.ressources__name:link,
.ressources__name:visited {
  text-decoration: none;
  color: var(--primary);
  font-size: 2.5rem;
}

.ressources__name:hover,
.ressources__name:active {
  color: var(--primary-light);
  transition: color 0.2s;
}

.ressources__text {
  margin-top: 0.6rem;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--background);
}

#ressources-perf {
  padding-bottom: 15rem;
}
